@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* variables */
:root {
    --main-padding: 60px;
    --main-padding-2: 100px;
    --main-color: rgb(162, 118, 219);
    --main-color-alt: #6610f2;
}

/* global roules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Work Sans", sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* small */
@media (max-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* component */
.master-title {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
    position: relative;
    margin-bottom: 40px;
}

.master-title::before {
    content: '';
    height: 5px;
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    background-color: var(--main-color);

}

/* Header Section */
header {
    padding-top: var(--main-padding);
}

header .container {
    padding-bottom: 30px;
    border-bottom: 1px solid #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .container form {
    position: relative;
}

header form input {
    padding: 10px 20px;
    border: 0;
    width: 120px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
    header {
        padding-top: 30px;
    }

    header .container {
        text-align: center;
        border-color: #eee;
        padding-bottom: 5px;
    }

    header .container form {
        display: none;
    }


    header .container .main-title {
        width: 100%;
    }

    header .container ul {
        margin: 15px auto 10px;
    }

    header .container ul i {
        font-size: 15px;
    }
}

header form input::placeholder {
    font-size: 20px;
    transition: .3s;
}

header form input:focus::placeholder {
    opacity: 0;
}

header form input:focus {
    outline: none;
}

header form i {
    position: absolute;
    top: 9px;
    color: #777;
}

header .main-title {
    text-decoration: none;
    font-size: 25px;
    border: 2px solid rgba(162, 118, 219, 0.315);
    color: var(--main-color);
    padding: 10px 20px;
    font-weight: bold;
}

header ul {
    display: flex;
    gap: 20px;
}

header ul a {
    color: #777;
    display: block;
    transition: .3s;
}

header ul a:hover {
    color: var(--main-color);
}

/* nav section */
nav .container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0e0e0e;
    font-size: 14px;
    transition: .3s;
}

@media (max-width:767px) {
    header {
        padding: 10px;
    }

    nav ul li a {
        font-size: 10px;
    }

    nav ul {
        display: flex;
        gap: 15px;
    }

    .page-side {
        text-align: center;
        padding: 15px 0 !important;
    }

    nav .container {
        display: flex;
        justify-content: center;
        padding: 0px 0 15px;
    }

    header .main-title {
        font-size: 20px;
        width: fit-content;
        margin: 0 auto;
        padding: 7px 15px;
    }
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--main-color);
}

.page-side {
    background-color: rgba(162, 118, 219, 0.11);
    padding: 25px 0 25px;
    color: #777;
}

.page-side span {
    color: var(--main-color);

}

/* sidebar section */
.page {
    position: relative;
}

.page .container {
    display: flex;
    height: 100%;
    padding: var(--main-padding-2) 0;
    border-bottom: 1px solid #eee;

}

.page .side-bar {
    width: 250px;
    margin-top: 20px;
}

.page .side-bar .box {
    padding: 20px;
    border: 1px solid #ececec;
    border-radius: 8px;
    margin-bottom: 50px;
}

.page .side-bar .box:first-of-type h3 {
    font-weight: 300;
    padding-bottom: 15px;
}

.page .side-bar .box:first-of-type div {
    display: flex;
    justify-content: space-between;

}

.page .side-bar .box:first-of-type div:not(:last-child) {
    margin-bottom: 15px;
}

.page .side-bar .box:first-of-type span {
    display: block;
}

.page .side-bar .box:first-of-type .label {
    color: var(--main-color);
}

.page .side-bar .box:last-of-type h3 {
    font-weight: 300;
    padding-bottom: 15px;
}

.page .side-bar .box:last-of-type input[type="range"] {
    padding: 5px 0;
    margin-left: 10px;
}

.page .side-bar .box:last-of-type div {
    margin-top: 30px;
}

.page .side-bar .box:last-of-type div form {
    margin: 10px;
}

.page .side-bar .box:last-of-type div form span {
    display: block;
}

.page .side-bar .box:last-of-type .last span:first-of-type {
    margin-top: 10px;
}

.page .side-bar .box:last-of-type .last span {
    display: block;
    margin-bottom: 20px;
    align-items: center;
}

.page .side-bar .box:last-of-type .last span::before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.page .side-bar .box:last-of-type .last .red::before {
    background-color: red;
}

.page .side-bar .box:last-of-type .last .green::before {
    background-color: green;
}

.page .side-bar .box:last-of-type .last .blue::before {
    background-color: blue;
}

.page .side-bar .box:last-of-type .last .purple::before {
    background-color: purple;
}

@media (max-width:767px) {
    .page .side-bar {
        width: 150px;
    }

    .page .container {
        padding: 10px 0 10px 10px;
    }

    .page .side-bar .box {
        padding: 10px;
    }

    .page .side-bar .box:last-of-type input[type="range"] {
        margin: 0;
    }

    .page .side-bar .box:last-of-type .last span::before {
        margin-left: 0;
    }

    .page .side-bar .box:last-of-type div form {
        margin: 0;
    }

    .page .side-bar .box:last-of-type div form label {
        font-size: 13px;
    }

    .page .side-bar .box:last-of-type .last span {
        font-size: 13px;
    }

    .page .side-bar .box:last-of-type h3 {
        font-size: 15px;
    }

    .page .side-bar .box:first-of-type h3 {
        font-size: 15px;
    }
}

/* content section */
.content {
    padding: 20px;
    width: 100%;
}

.content .head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content .head h3 {
    font-weight: 100;
    font-size: 35px;
}

.content .head select {
    padding: 10px 0 10px;
    width: 90px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 50px;
    margin: 20px;
}

.wrapper .box {
    background-color: white;
    text-align: center;
    box-shadow: 0 0 5px 2px #66666636;
    transition: .3s;
    overflow: hidden;
}

.wrapper .box:hover {
    transform: translatey(-7px);
}

.wrapper .box img {
    width: 100%;
    transition: .3s;
}

.wrapper .box .info {
    margin: 15px 0;
}

.wrapper .box .info a {
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: 20px;
    display: block;
}

.wrapper .box .info p {
    margin-bottom: 10px;

}

.wrapper .box .info span {
    font-size: 1.17em;
    color: var(--main-color);
}

@media (max-width:767px) {
    .content {
        padding: 10px;
    }

    .wrapper {
        margin: 20px 0;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .content .head select {
        margin: 10px 0;
    }

    .content .head {
        text-align: center;
    }

    .content .head h3 {
        margin: 5px auto;
    }

    .content .links {
        display: block;
    }

    .content .head div {
        margin: 10px auto;

    }

    footer .last-text {
        margin-top: 0px;
        font-size: 12px !important;
    }

    footer .last-text a {
        font-size: 12px !important;
    }
}

.content .links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.content .links a {
    margin-top: 30px;
    display: flex;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    font-size: 12px;
}

.content .links a:hover {
    background-color: var(--main-color);
    color: white;
}

/* kind-clothes section */
.kind {
    padding-top: var(--main-padding-2);
}

.kind .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-bottom: var(--main-padding-2);
    border-bottom: 1px solid #eee;
}

.kind .box {
    position: relative;
    height: 464.05px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #eee;
}

.kind .box img {
    position: relative;
    max-width: 100%;
    transition: .3s;
    object-fit: cover;
}

.kind .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000023;
    z-index: 1;
}

.kind .box:hover img {
    transform: scale(1.2) rotate(3deg);
}

.kind .box .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 1;
}

.kind .box .info p {
    font-size: 20px;
}

.kind .box .info h2 {
    font-size: 50px;
    font-weight: 400;
}

/* footer section */
footer {
    padding: var(--main-padding) 0 0;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .foot>p {
    font-size: 25px;
    margin-bottom: 20px;
}

footer .foot .link {
    display: block;
    text-decoration: none;
    color: #777;
    transition: .3s;
}

footer .foot .link:hover {
    color: var(--main-color);
}

footer .foot span {
    margin-top: 20px;
    display: block;
    color: var(--main-color);
    line-height: 1.6;
}

footer .foot .location {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

footer .foot .location i {
    margin-right: 10px;
    color: var(--main-color);
    font-size: 18px;
}

footer .foot .input p {
    font-size: 25px;
    margin-bottom: 20px;
}

footer .foot .input form {
    position: relative;
}

footer .foot .input input[type="text"] {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(151, 147, 147);
    width: 100%;
}

footer .foot .input input[type="submit"] {
    border-radius: 5px;
    padding: 17px;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    border: 1px solid var(--main-color);
    transition: .3s;
}

footer .foot .input input[type="submit"]:hover {
    background-color: white;
    color: var(--main-color);
}

footer .last-text {
    margin: 100px auto 50px;
    line-height: 1.6;
    align-items: center;
    color: #777;
}

footer .last-text a {
    text-decoration: none;
    font-size: 18px;
}

@media (max-width:992px) {
    footer .container {
        display: block;
        text-align: center;
    }

    footer .foot .location {
        text-align: center;
        width: fit-content;
        margin: 20px auto;
        flex-direction: column;

    }

    footer .foot .location i {
        margin-bottom: 15px;
    }

    footer .foot .input form {
        width: fit-content;
        margin: 20px auto;
    }

    footer .foot>p {
        margin-top: 20px;
    }

    footer .foot .input p {
        margin-top: 20px;
    }
}
@media (max-width:767px){
  footer .last-text{
    margin-top: 0px;
    font-size: 12px !important;
  }
    footer .last-text a{
      font-size: 12px;
    }
  footer{
  padding: 30px 0 0;
}
}
