* {
    margin: 0;
    padding: 0;
    /* font-family: 'Nunito', sans-serif; */

}

body {
    margin: 0;
    font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.nav-1 {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-left input {
    border: none;
    /* background-color: aqua; */
    padding: 10px 10px;
    padding-left: 40px;
    display: block;
    width: 200px;
    height: calc(2.25rem + 2px);
    font-size: 23px;
    line-height: 1.5;
    color: #000000;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.nav-left i {
    position: absolute;
    top: 84px;
    left: 280px;
    color: gray;
    font-size: 20px;
}

.nav-left input:focus {
    outline: 0;
    padding-left: 30px;
}



.nav-right .icons {
    display: flex;
    font-size: 20px;
    color: rgb(114, 113, 113);
}

.nav-center a {
    text-decoration: none;
    color: #000000;
}

.nav-right .icons .person {
    margin-right: 10px;
}

.nav-right .icons .person:hover {
    color: #000000;
}

.nav-right .icons .love {
    margin-right: 10px;
}

.nav-right .icons .love:hover {
    color: #000000;
}

.nav-right .market:hover {
    color: #000000;
}

.nav-center {
    width: 300px;
    text-align: center;
    margin-right: 200px;
}

.nav-center p {
    border: 2px solid black;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
}

hr {
    margin-top: 10px;
    width: 1500px;
    margin-left: 200px;

}

.nav-2 {
    display: flex;
    height: 50px;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}

.nav-2 a {
    font-size: 13px;
    text-decoration: none;
    margin: 10px;
    color: #000000;
}

.nav-2 .shop a {
    color: rgb(162, 118, 219);
}

.nav-2 .about :hover {
    color: rgb(162, 118, 219);
}

.nav-2 .shop :hover {
    color: rgb(162, 118, 219);
}

.nav-2 .catalogue :hover {
    color: rgb(162, 118, 219);
}

.nav-2 .new :hover {
    color: rgb(162, 118, 219);
}

.nav-2 .contact :hover {
    color: rgb(162, 118, 219);
}

.vouh {
    background-color: rgba(162, 118, 219, 0.11);
    height: 60px;

}

.vouh p {
    padding-top: 15px;
    margin-left: 200px;
}

.vouh span {
    color: rgb(138, 80, 214);
}

.left-side {
    margin-right: 80px;
}

.left-side .text-left-side-1 {
    margin-top: 50px;
    border: 1px solid #ececec;
    /* padding: 50px; */
    border-radius: 8px;
    padding: 30px;
    width: 100%;
}

.left-side .text-left-side-1 h3 {
    font-weight: 300;
    padding-bottom: 15px;
}

.left-side .text-left-side-1 span {
    display: flex;
    justify-content: space-between;
}

.left-side .text-left-side-1 span a {
    text-decoration: none;
    color: rgb(191, 100, 243);
}

.left-side .text-left-side-1 span a:hover {
    color: #6610f2;
}

.left-side .text-left-side-2 {
    margin-top: 50px;
    border: 1px solid #ececec;
    /* padding: 50px; */
    border-radius: 8px;
    padding: 30px;
    width: 100%;
}

.left-side .text-left-side-2 .pp {
    padding-bottom: 10px;
    font-weight: 500;
}

.left-side .text-left-side-2 .range input {

    margin-top: 10px;
}

.left-side .text-left-side-2 h3 {
    margin-top: 20px;
    padding-bottom: 10px;
}

.left-side .text-left-side-2 .red {
    display: flex;
}

.left-side .text-left-side-2 .red i {
    color: red;
    margin-right: 10px;
}

.left-side .text-left-side-2 .green {
    display: flex;
}

.left-side .text-left-side-2 .green i {
    color: green;
    margin-right: 10px;
}

.left-side .text-left-side-2 .blue {
    display: flex;
}

.left-side .text-left-side-2 .blue i {
    color: blue;
    margin-right: 10px;
}

.left-side .text-left-side-2 .purple {
    display: flex;
}

.left-side .text-left-side-2 .purple i {
    color: purple;
    margin-right: 10px;
}

/* الصور */



.dreem-2 {
    display: flex;
    padding-left: 50px;
    padding-right: 200px;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;

    /* font-size: 40px;
    font-weight: 300; */
}

.dreem-2 select {
    padding: 18px;
    border-radius: 8px;
    background-color: rgba(246, 202, 255, 0.521);
    border: 1px solid rgba(244, 215, 250, 0.5);
}

.dreem-2 p {
    font-weight: 100;
    font-size: 30px;
}

.dreem-2 select:hover {
    box-shadow: 0 0 5px 5px rgba(246, 202, 255, 0.521);
}

.dreem-3 {
    display: flex;
    justify-content: center;
}

.caption {
    background-color: #ffffff;
    width: 250px;
    margin: 30px;
    box-shadow: 0 0 3px 3px #64636375;

}

.caption img {
    width: 100%;


}

.caption .text-cap {
    text-decoration: none;
    text-align: center;

}

.caption .text-cap a {
    text-decoration: none;
    font-size: 20px;
    color: #6610f2;
}

.caption .text-cap h3 {
    color: #6610f2;
}

.caption-2 {
    background-color: #ffffff;
    width: 240px;
    margin: 30px;
    box-shadow: 0 0 3px 3px #64636375;
}

.caption-2 img {
    width: 100%;
}

.caption-2 .text-cap-2 {
    text-decoration: none;
    text-align: center;
}

.caption-2 .text-cap-2 a {
    text-decoration: none;
    font-size: 20px;
    color: #6610f2;
}

.caption-2 .text-cap-2 h3 {
    color: #6610f2;
}

.caption-3 {
    background-color: #ffffff;
    width: 240px;
    margin: 30px;
    box-shadow: 0 0 3px 3px #64636375;
}


.caption-3 img {
    width: 100%;
}

.caption-3 .text-cap-3 {
    text-decoration: none;
    text-align: center;
}

.caption-3 .text-cap-3 a {
    text-decoration: none;
    font-size: 20px;
    color: #6610f2;
}

.caption-3 .text-cap-3 h3 {
    color: #6610f2;
}

.center-shop {
    display: flex;
    justify-content: center;
}

.right-side .numper-2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.right-side .numper-2 p {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid #dcc8fd;
    text-decoration: none;
    text-align: center;
    align-items: center;



}

.right-side .numper-2 p:hover {
    border: 1px solid #6610f2;
}

.right-side .numper-2 a {
    text-decoration: none;
    color: #a16ef3;
}

.right-side .numper-2 a:hover {
    color: #0b011b;
}

.photo-center {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;

}

.photo-center .photo-1 a {
    text-decoration: none;
}

.photo-center .photo-2 a {
    text-decoration: none;
}

.photo-center .photo-3 a {
    text-decoration: none;
}

.photo-center .block-1-item img {
    width: 400px;
    margin-top: 90px;
    /* margin: 50px; */
    margin-right: 60px;
}

.photo-center .block-2-item .image img {
    width: 400px;
    margin-top: 90px;
    /* margin: 50px; */
    margin-right: 60px;
}

.photo-center .block-3-item img {
    width: 400px;
    margin-top: 90px;
    /* margin: 50px; */
    margin-right: 60px;
}

.photo-center .block-3-item img:hover {
    box-shadow: 0 0 10px 10px rgb(185, 59, 59) inset;

}

.text {
    text-decoration: none;
    position: absolute;
    color: #fff;
    background-color: #00000069;
    width: 400px;
    bottom: -1070px;
    font-size: 40px;
    height: 530px;
}

.text:hover {
    box-shadow: 0 0 10px 10px rgb(226, 221, 221) inset;
    margin-bottom: 10px;
}

.text h3 {
    margin-left: 10px;
    font-size: 50px;
    font-weight: 400;
}

.text p {
    padding-top: 420px;
    font-size: 20px;
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer .foot-1 {
    margin: 30px;
}

footer .foot-1 .link-1 {
    margin-top: 60px;
    margin-bottom: 90px;
}

footer .foot-1 p {
    font-size: 25px;
    margin-bottom: 10px;
}

footer .foot-1 a {
    margin-top: 50px;
    text-decoration: none;
    color: rgb(100, 99, 99);
}

footer .foot-1 a:hover {
    color: #631ed1;
}

footer .foot-2 {
    margin: 30px;
}

footer .foot-2 a {
    align-items: center;
    text-decoration: none;
    color: rgb(100, 99, 99);
}

footer .foot-2 a:hover {
    color: #631ed1;
}

footer .foot-3 {
    margin: 30px;
}

footer .foot-3 a {
    align-items: center;
    text-decoration: none;
    color: rgb(100, 99, 99);
}

footer .foot-3 a:hover {
    color: #631ed1;
}

footer .foot-4 {
    margin: 30px;
}

footer .foot-4 a {
    align-items: center;
    text-decoration: none;
    color: #631ed1;
}

footer .foot-4 a:hover {
    color: #631ed1;
}

footer .foot-4 img {
    width: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer .foot-5 .poo {
    font-size: 25px;
    margin-bottom: 15px;
}

footer .foot-5 .location {
    display: flex;
}

footer .foot-5 .location i {
    color: #631ed1;
    margin-right: 10px;
}

footer .foot-5 .call {
    display: flex;
}

footer .foot-5 .call i {
    color: #631ed1;
    margin-right: 10px;
}

footer .foot-5 .email-1 {
    display: flex;
    margin-top: 10px;
}

footer .foot-5 .email-1 i {
    color: #631ed1;
    margin-right: 10px;
}

footer .input {
    margin-top: 20px;
}

footer .input p {
    font-size: 25px;
    margin-bottom: 10px;
}

footer .input input {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(151, 147, 147);

}

footer .input button {
    padding: 17px;
    position: absolute;
    color: white;
    background-color: #631ed1;
    right: 437px;
    top: 2492px;
    border-radius: 5px;
}

footer .input button a {
    color: #fff;
    text-decoration: none;
}

/* 
footer .input button:hover {
    padding: 17px;
    position: absolute;
    color: rgb(151, 35, 35);
    background-color: #5f1fc5;
    right: 437px;
    top: 3884px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #aaa;



} */

footer .input button:focus {
    border: #9264dd;
    outline: none;
}

.footer-text {
    text-align: center;
    color: rgb(116, 114, 114);
    padding: 100px;

}

.footer-text span {
    color: #631ed1;
    font-size: 20px;
}

.footer-text span a {
    text-decoration: none;
}